@using LandingPad.Models
@using Recaptcha.Web.Mvc
@model LandingPad.Models.RegisterViewModel
@{
    ViewBag.Title = "Create an Account";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<body id="bgGreen">
    <div class="triangle-right"></div>

    <div class="triangle-rightbottom"></div>

    <div class="triangle-left"></div>

    <div class="triangle-leftbottom"></div>
</body>
<h2 align="center" >@ViewBag.Title</h2>
<div align="right" class="float">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>
<br />
<br />
<div align="center"><img src="~/Content/SquareOneLogo.png" height="100" hspace="5"></div>
<br />
<br />
<div align="center">
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <!--<h4>Create a new account.</h4>-->
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , placeholder = "Email", @style = "border: solid; border-color: black; " })
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" , placeholder = "Password", @style = "border: solid; border-color: black; " })
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", @style = "border: solid; border-color: black; " })
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", @style = "border: solid; border-color: black; " })
        </div>
    </div>
   <div class="form-group">
        <div>
            @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
        </div>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}
</div>
