@model LandingPad.DAL.LandingPadContext
<div class="editorMenu">
    <div class="slideshowContainer">
        <form method="post" id="editorForm">
            <!--Title, description, and editor-->
            <div class="slide1">
                <div class="inputGroup">
                    <div class="formItem">
                        Title <input type="text" id="title" name="Title" /><br />
                    </div>
                    <div class="formItem">
                        Description <textarea id="description" name="DescriptionText"></textarea><br />
                    </div>
                    <div class="formItem">
                        @Html.Partial("Editor")
                    </div>
                </div>

                <div class="buttonGroup">
                    <a class="nextPage" onclick='loadSlide("slide1", "slide2")'>Next</a>
                </div>
            </div>

            <!--Author-->
            <div class="slide2 collapse">
                <div class="inputGroup">
                    @Html.Partial("_SelectAuthor", Model.LPProfiles.Where(i => i.ProfileRoles.Select(j => j.RoleID).ToList().Contains(1)).ToList())
                </div>

                <div class="buttonGroup">
                    <a class="prevPage" onclick='loadSlide("slide2", "slide1")'>Back</a>
                    <a class="nextPage" onclick='loadSlide("slide2", "slide3")'>Next</a>
                </div>
            </div>

            <!--Format Tags-->
            <div class="slide3 collapse">
                <div class="inputGroup">
                    @Html.Partial("_SelectFormat", Model.FormatTags.ToList())
                </div>

                <div class="buttonGroup">
                    <a class="prevPage" onclick='loadSlide("slide3", "slide2")'>Back</a>
                    <a class="nextPage" onclick='loadSlide("slide3", "slide4")'>Next</a>
                </div>
            </div>

            <!--Permissions-->
            <div class="slide4 collapse">
                <div class="inputGroup">
                    @Html.Partial("_SelectPermissions", Model)
                </div>

                <div class="buttonGroup">
                    <a class="prevPage" onclick='loadSlide("slide4", "slide3")'>Back</a>
                    <a class="nextPage" onclick='loadSlideAndConfirm("slide4", "slide5", [@Html.Raw(String.Join(",", Model.Pseudonyms.Select(i => i.PseudonymID)))], [@Html.Raw(String.Join(",", Model.FormatTags.Select(i => i.FormatID)))])'>Next</a>
                </div>
            </div>

            <!--Confirmation-->
            <div class="slide5 collapse">
                <div class="inputGroup">
                    @Html.Partial("_Confirmation")
                    <input type="hidden" name="DocType" value=".HTML" />
                    <input type="hidden" id="editorContent" name="EditorContent" />
                    <input type="hidden" id="writingID" name="WritingID" />
                    <input type="hidden" id="fileName" name="WritingFileName" />
                </div>

                <div class="buttonGroup">
                    <div id="validationMessage"></div>
                    <a class="prevPage" onclick='loadSlide("slide5", "slide1")'>No</a>
                    <input type="submit" id="createWriting" value="Save" />
                </div>
            </div>
        </form>
    </div>
</div>
