@model IEnumerable<LandingPad.Models.LPProfile>

<div class="pseudonymSelector">
    <h3>Select Pseudonyms for Writing</h3>
    ProfileID <input type="number" min="1" max="@Model.Last().ProfileID" step="1" id="profileID" name="ProfileID" onchange='loadPseudonyms([@Html.Raw(String.Join(",", Model.Select(i => i.ProfileID)))])' />

    <div id="pseudonymContainer">
        @foreach(var item in Model)
        {
            <span class="@item.ProfileID collapse">
                @foreach(var subitem in item.Pseudonyms)
                {
                    <input type="checkbox" value="@subitem.PseudonymID" name="Pseudonyms" class="@subitem.PseudonymID" /> <span class="pseudonymName @subitem.PseudonymID">@subitem.Pseudonym1</span>
                }
            </span>
        }
    </div>
</div>
