@model LandingPad.Models.LPProfile

<div class="pseudonymSelector">
    <h3>Select Pseudonyms for Writing</h3>
    <div class="formItem">
        <div id="pseudonymContainer">
            <!--For each pseudonym connected to the current profile, create a checkbox for that pseudonym-->
            @foreach (var item in Model.Pseudonyms)
            {
                <span class="checkItem2">
                    <!--on change: if the checkbox was unchecked and no other pseudonyms are checked, collapses the option to use pseudonyms in addition to the username; if checkbox was checked, uncollapses the same-->
                    <input type="checkbox" value="@item.PseudonymID" name="Pseudonyms" class="@item.PseudonymID" onchange='checkIfOnlyPseudonym(@item.PseudonymID, [@Html.Raw(String.Join(",", Model.Pseudonyms.Select(i => i.PseudonymID)))])' /> <span class="pseudonymName @item.PseudonymID">@item.Pseudonym1</span>
                </span>
            }
        </div> <!--pseudonymContainer-->
    </div> <!--formItem for the pseudonyms-->

    <!--Container for the checkbox to indicate if pseudonyms are being used in addition to the username; defaults to collapsed and uncollapses when at least one pseudonym is selected-->
    <div id="useUsername" class="collapse">
        <div class="formItem">
            <!--A checkbox with a label that explains its purpose on mouse over-->
            <span class="checkItem2" onmouseover='showExplanationNotFT("pseudonymDescription", "If this box is checked, this piece of writing will also show up under your main username for your profile. Do not check this box if this is a piece of writing you would like to distance your main username from.")'>
                Use pseudonym(s) in addition to username? <input type="checkbox" name="UsePseudonymsInAdditionToUsername" value="UsePseudonymsInAdditionToUsername" id="usePseudonymsInAdditionToUsername" /><br />
            </span>
        </div> <!--formItem-->
    </div> <!--useUsername-->

    <!--Container for the description for items on this partial view-->
    <div id="pseudonymDescription" class="description">

    </div>
</div> <!--pseudonymSelector-->
