@model IEnumerable<LandingPad.Models.Writing>

@{
    ViewBag.Title = "AllWriting";
    Layout = "~/Views/Shared/_PenfolioLayout.cshtml";
}

<h2>Browse Writing</h2>

@foreach(var item in Model)
{
    @Html.Partial("_WritingPreview", item)
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WritingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditDate)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.WritingID
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.DescriptionText
            </td>
            <td>
                @item.AddDate
            </td>
            <td>
                @item.EditDate
            </td>
            <td>
                @Html.ActionLink("View", "ViewWriting", new { id = item.WritingID })
            </td>
        </tr>
    }

</table>

