@model LandingPad.Models.Writing

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div class="editorMenu">
    <div class="slideshowContainer">
        <form method="post" id="editorForm">
            <!--Title, description, and editor-->
            <div class="slide1">
                <div class="inputGroup">
                    Title <input type="text" id="title" name="Title" value="@Model.Title" /><br />
                    Description <textarea id="description" name="DescriptionText">@Model.DescriptionText</textarea><br />
                    @Html.Partial("Editor")
                </div>

                <div class="buttonGroup">
                    <a class="nextPage" onclick='loadSlide("slide1", "slide2")'>Next</a>
                </div>
            </div>

            <!--Author-->
            <div class="slide2 collapse">
                <div class="inputGroup">

                </div>

                <div class="buttonGroup">
                    <a class="prevPage" onclick='loadSlide("slide2", "slide1")'>Back</a>
                    <a class="nextPage" onclick='loadSlide("slide2", "slide3")'>Next</a>
                </div>
            </div>

            <!--Format Tags-->
            <div class="slide3 collapse">
                <div class="inputGroup">

                </div>

                <div class="buttonGroup">
                    <a class="prevPage" onclick='loadSlide("slide3", "slide2")'>Back</a>
                    <a class="nextPage" onclick='loadSlide("slide3", "slide4")'>Next</a>
                </div>
            </div>

            <!--Permissions-->
            <div class="slide4 collapse">
                <div class="inputGroup">

                </div>

                <div class="buttonGroup">
                    <a class="prevPage" onclick='loadSlide("slide4", "slide3")'>Back</a>
                    <a class="nextPage" onclick='loadSlideAndConfirm("slide4", "slide5", [@Html.Raw(String.Join(",", Model.LPProfile.Pseudonyms.Select(i => i.PseudonymID)))], [])'>Next</a>
                </div>
            </div>

            <!--Confirmation-->
            <div class="slide5 collapse">
                <div class="inputGroup">

                    <input type="hidden" name="DocType" value="HTML" />
                    <input type="hidden" id="editorContent" name="EditorContent" />
                </div>

                <div class="buttonGroup">
                    <div id="validationMessage"></div>
                    <a class="prevPage" onclick='loadSlide("slide5", "slide1")'>No</a>
                    <input type="submit" id="createWriting" value="Save" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section editScripts {
    <script>
        $(document).ready(function () {
            $('.ql-editor').html('@Html.Raw(ViewBag.Document)');
        });
    </script>
}
