@model LandingPad.DAL.LandingPadContext

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PenfolioLayout.cshtml";
}

<h2>Select ProfileID</h2>

<select id="profileID" onchange='toggleProfiles([@Html.Raw(String.Join(",", Model.LPProfiles.Select(i => i.ProfileID)))])'>
    <option value="" selected disabled hidden>Select ProfileID</option>
    @foreach (var item in Model.LPProfiles)
    {
        <option value="@item.ProfileID" class="@item.ProfileID">@item.ProfileID</option>
    }
</select>

<h2>My Writing</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model.LPProfiles)
{
    <div class="@item.ProfileID collapse">
        @foreach (var wItem in item.Writings)
        {
            @Html.Partial("_WritingPreview", wItem)
        }
    </div>
}

<h2>Other People's Writing</h2>

@foreach (var item in Model.LPProfiles)
{
    <div class="@item.ProfileID collapse"><a href="~/Writing/AllWriting/@item.ProfileID">View All Writings</a></div>
}

@section scripts {
    <script>
        function toggleProfiles(profiles) {
            var id = $("#profileID").val();

            for (var i = 0; i < profiles.length; i++) {
                if ($("div." + profiles[i]).hasClass("collapse") !== true)
                    $("div." + profiles[i]).addClass("collapse");
            }

            $("div." + id).removeClass("collapse");
        }
    </script>
}
