@model IEnumerable<LandingPad.Models.LPProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Select ProfileID</h2>

<select id="profileID" onchange='toggleProfiles([@Html.Raw(ViewBag.Profiles)])'>
    <option value="" selected disabled hidden>Select ProfileID</option>
    @foreach (var item in Model)
    {
        <option value="@item.ProfileID" class="@item.ProfileID">@item.ProfileID</option>
    }
</select>

<h2>My Writing</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="loadedWritings @item.ProfileID collapse myWriting">
        @foreach (var wItem in item.Writings)
        {
            @Html.Partial("_WritingPreview", wItem)
        }
    </div>
}

<h2>Other People's Writing</h2>

@foreach (var item in Model)
{
    <div class="loadedWritings @item.ProfileID collapse">
        @Html.Action("_GetPermissionWritings", new { id = item.ProfileID })
    </div>
}

@section scripts {
    <script>
        function toggleProfiles(profiles) {
            var id = $("#profileID").val();

            for (var i = 0; i < profiles.length; i++) {
                if ($("div.loadedWritings." + profiles[i]).hasClass("collapse") !== true)
                    $("div.loadedWritings." + profiles[i]).addClass("collapse");
            }

            $("div.loadedWritings." + id).removeClass("collapse");
        }

        (function () {
            $(document).ready(function () {
                $(".myWriting .forUserWriting").removeClass("collapse");
            });
        })();
    </script>
}
