@model LandingPad.Models.Writing
<div class="editorMenu">
    <div class="slideshowContainer">
        @using (Html.BeginForm("UploadEdit", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <!--Title, description, and editor-->
            <div class="slide1">
                <div class="inputGroup">
                    <div class="formItem">
                        Title <input type="text" id="title" name="Title" /><br />
                    </div>
                    <div class="formItem">
                        Description <textarea id="description" name="DescriptionText"></textarea><br />
                    </div>
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.File, "", new { @type = "file", @multiple = "multiple" })
                                @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 text-success">
                                @ViewBag.FileStatus
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttonGroup">
                    <a class="nextPage" onclick='loadSlide("slide1", "slide2")'>Next</a>
                </div>
            </div>

            <!--Author-->
            <div class="slide2 collapse">
                <div class="inputGroup">
                    @Html.Action("_SelectAuthor", "Writing")
                </div>

                <div class="buttonGroup">
                    <a class="prevPage" onclick='loadSlide("slide2", "slide1")'>Back</a>
                    <a class="nextPage" onclick='loadSlide("slide2", "slide3")'>Next</a>
                </div>
            </div>

            <!--Format Tags-->
            <div class="slide3 collapse">
                <div class="inputGroup">
                    @Html.Action("_SelectFormat", "Writing")
                </div>

                <div class="buttonGroup">
                    <a class="prevPage" onclick='loadSlide("slide3", "slide2")'>Back</a>
                    <a class="nextPage" onclick='loadSlide("slide3", "slide4")'>Next</a>
                </div>
            </div>

            <!--Permissions-->
            <div class="slide4 collapse">
                <div class="inputGroup">
                    @Html.Action("_SelectPermissions", "Writing")
                </div>

                <div class="buttonGroup">
                    <a class="prevPage" onclick='loadSlide("slide4", "slide3")'>Back</a>
                    <a class="nextPage" onclick='loadSlideAndConfirm("slide4", "slide5", [@Html.Raw(ViewBag.Pseudonyms)], [@Html.Raw(ViewBag.FormatTags)])'>Next</a>
                </div>
            </div>

            <!--Confirmation-->
            <div class="slide5 collapse">
                <div class="inputGroup">
                    @Html.Partial("_UploadConfirmation")
                    <input type="hidden" name="DocType" value=".HTML" />
                    <input type="hidden" id="editorContent" name="EditorContent" />
                    <input type="hidden" id="writingID" name="WritingID" />
                    <input type="hidden" id="fileName" name="WritingFileName" />
                </div>

                <div class="buttonGroup">
                    <div id="validationMessage"></div>
                    <a class="prevPage" onclick='loadSlide("slide5", "slide1")'>No</a>
                    <input type="submit" value="Upload" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
