@model LandingPad.DAL.LPProfile

@{
    ViewBag.Title = "Profile";
}

<h2>@if (Model.DisplayRealName == false)
{
    @Html.DisplayFor(model => model.LPUser.Username)
}
else
{
    <p>
        @Html.DisplayFor(model => model.LPUser.FirstName)  @Html.DisplayFor(model => model.LPUser.LastName)
    </p>}
    </h2>

<div>
    <h4>Profile Page</h4>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LPUser.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LPUser.Birthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LPUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LPUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilePhoto)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.DisplayRealName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayRealName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Friends)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Friends)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Followers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Followers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Writers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Writers)
        </dd>

    </dl>
</div>
<p>
    <button>
        @Html.ActionLink("Settings", "Edit", new { id = Model.ProfileID })
    </button>
    <button>
        @Html.ActionLink("Back", "Index")
    </button>
</p>
